@import "/src/scss/variables";

.skillCard {
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .title {
    font-size: 24px;
    height: fit-content;
  }

  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.skill {
  font-size: 20px;
  border: $border;
  padding: 1px;
}

// @media (max-width: 600px) {
//   .skillCard {
//     .title {
//       font-size: 18px;
//     }
//   }

//   .skill {
//     font-size: 16px;
//   }
// }
