@import "./normalize.scss";
@import "./variables";

:root {
  color-scheme: dark;
  color: black;
}

body {
  min-height: 100vh;
  background-color: $background-color-main;
}

a {
  color: black;
  font-size: inherit;
  display: inline-block;
  position: relative;
}

a:hover {
  background-color: black;
  color: $background-color-main;
}

.header {
  font-size: $font-size-header;
  border: $border;
  background-color: black;
  color: $background-color-main;
  width: fit-content;
}

.linkButton {
  text-decoration: none;
  color: $background-color-main;
  background-color: black;
  font-size: 20px;
  padding: 0 2px;
  width: 100%;

  &:hover {
    background-color: $background-color-main;
    color: black;
  }
}
