@import "./normalize.scss";
@import "./variables";

body {
  min-height: 100vh;
  background-color: $background-color-main;
}

a {
  color: black;
  font-size: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a:hover {
  background-color: black;
  color: $background-color-main;
}

// a::after {
//   content: "";
//   position: absolute;
//   width: 100%;
//   transform: scaleX(0);
//   height: 2px;
//   bottom: 0;
//   left: 0;
//   background-color: black;
//   transform-origin: bottom right;
//   transition: transform 0.15s ease-out;
// }

// a:hover::after {
//   transform: scaleX(1);
//   transform-origin: bottom left;
// }
